
.chatBox{
  padding: 2rem 1rem;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
  
}
.chatShowBox{
    height: 50vh;
    border: 1px solid rgb(206, 206, 206);
    margin: 1rem 0;
    border-radius: 5px;
    overflow-y: scroll;
}
